<div class="container">
    <h1>Login</h1>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">

      <div class="form-group">
        <label for="name">User Name</label>
        <input id="name" name="name" [(ngModel)]="_model.username" type="text" class="form-control" required #name="ngModel">

        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          <span>Name is required</span>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" name="password" [(ngModel)]="_model.password" type="password"  class="form-control" required #password="ngModel">

        <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
          <span>Password is required</span>
        </div>
      </div>

      <div class="form-group">
          <label for="bearerToken">BearerToken</label>
          <input type="text" readonly  class="form-control" id="bearerToken" [(ngModel)]="_token" name="bearerToken">
          <textarea [innerText]="_header" rows="4" cols="100"></textarea>
          <textarea [innerText]="_payload" rows="7" cols="100"></textarea>
      </div>

      <div class="form-group">
          <label for="secureMessage">Secure Message</label>
          <input id="secureMessage" name="secureMessage" [(ngModel)]="_message" type="text" readonly  class="form-control">
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Submit</button>
      <button type="button" class="btn btn-primary" (click)="getData()">Test if bearer token sent</button>

      <div [hidden]='_failedTokenRequest == false' class="errorMessage">
          <p>Please check you have entered your details correctly</p>
      </div>
     
    </form>

</div>